table {
	border:				2px solid black;
}
td:hover {
	background-color:	yellow;
	color:				black;
}
tr, th {
	background-color:	black;
	color:				cornsilk;
	text-align:			left
}
tr, td {
	background-color:	grey;
	color:				white;
	text-align:			left;
}